.my-header {
    background-image: linear-gradient(90deg, #c2fcfe, #fed8b1);
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 3vmin);
    color: black;
    font-family: "Dancing Script", "Helvetica";
}